title = "Blížiace sa školenia"
url = "/bliziace-sa-skolenia"
layout = "default"
is_hidden = 0

[events]
==
{% set allEvents = events.getAllEvents() %}

<div class="container">
    <div class="text-center">
        <h1>Blížiace sa školenia</h1>
        <h3>Vyberte si prosím, na ktorom z nasledujúcich školení sa zúčastníte</h3>
    </div>
    <div class="cards-list">
        {% for event in allEvents %}
        <a href="{{ 'sposob-dopravy'|page }}/{{ event.id }}" class="fade-out-on-click">
            <div class="card--event">
                <h4>{{ str_limit(event.name|raw, 50, '...') }}</h4>
                <h6>{{ str_limit(event.location|raw, 60, '...') }}</h6>

                <div class="pill">
                    <h5>{{ event.date }}</h5>
                </div>
                <div></div>
                <div class="pill">
                    <h5>{{ event.time }}</h5>
                </div>

                {% if event.number_of_drivers < 5 %}
                <div class="drivers-pill color-{{ event.number_of_drivers % 5 }}">
                    {% else %}
                    <div class="drivers-pill color-5">
                        {% endif %}
                        <img src="{{ '/assets/images/icons/car-white.png'|theme }}" alt="">
                        <h4>{{ event.number_of_drivers }}</h4>
                    </div>
                </div>
        </a>
        {% endfor %}
    </div>
</div>
