title = "Event"
url = "/event/:event_id?"
layout = "default"
is_hidden = 0

[events]
[drivers]
==
{% set eventId = events.getEventId() %}
{% set event = events.getEvent() %}
{% set drivers = drivers.getDrivers %}
<div class="container-fluid navbar-wrapper">
    <div class="container">
        <a href="{{ 'eventy'|page }}" class="back arrow-back-white">
            <img src="{{ '/assets/images/icons/back-white.png' |theme}}" alt="Back">
        </a>
        <a id="back--form-hide" href="{{ 'event'|page }}" class="back arrow-back-black" style="display: none;">
            <img src="{{ '/assets/images/icons/back-black.png' |theme}}" alt="Back">
        </a>

    </div>
</div>
<div class="main-content-wrapper">
    <div class="header-container event">
        <div class="container">
            <h2>{{ event.name }}</h2>
            <div class="line-wrapper">
                <img src="{{ '/assets/images/icons/location-white.png'|theme }}" alt="icon" class="location-icon">
                <h5>{{ event.location }}</h5>
            </div>
            <div class="line-wrapper">
                <img src="{{ '/assets/images/icons/calendar-white.png'|theme }}" alt="icon" class="location-icon">
                <h5>{{ event.date }}</h5>
            </div>
            <div class="line-wrapper">
                <img src="{{ '/assets/images/icons/clock-white.png'|theme }}" alt="icon" class="location-icon">
                <h5>{{ event.time }}</h5>
            </div>
            <a id="new-driver" class="button button-primary">Prihlásiť sa ako vodič</a>
        </div>

    </div>

    <div class="cards-list container">
        {% if drivers == [] %}
        <div class="card--with-footer" data-driver-id="{{ driver.id }}">
            <div class="info">
                <h3>Zatiaľ sa neprihlásil žiaden vodič</h3>
            </div>
        </div>
        {% else %}
        {% for driver in drivers %}
        <div class="card--with-footer" data-driver-id="{{ driver.id }}">
            <div class="info">
                <h3>{{ driver.name }}</h3>
                <div class="line-wrapper">
                    <img src="{{ '/assets/images/icons/location-black.png'|theme }}" alt="icon" class="location-icon">
                    <h5>{{ driver.leaves_from }}</h5>
                </div>
                <div class="line-wrapper">
                    <img src="{{ '/assets/images/icons/clock-black.png'|theme }}" alt="icon">
                    <h5>{{ driver.leaves_at }}</h5>
                </div>
                <div class="line-wrapper">
                    <img src="{{ '/assets/images/icons/double-arrows-black.png'|theme }}" alt="icon">
                    <h5>{{ driver.cities }}</h5>
                </div>
                <div class="line-wrapper">
                    <img src="{{ '/assets/images/icons/add-people-black.png'|theme }}" alt="icon">
                    <h5>{{ driver.seats }}</h5>
                </div>
            </div>
            <a href="{{ 'event'|page }}/kontaktovat-vodica/{{ driver.id }}">
                <div class="footer">
                    <img src="{{ '/assets/images/icons/send-white.png'|theme }}" alt="icon">
                </div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>


<div class="slided-form-wrapper">
    <div class="container">
        <div class="form--hide-on-success">
            <form method="post" data-url="{{ url('') }}/api/add-driver">
                <input type="number" name="event_id" value="{{ eventId }}" style="display: none;">

                <div class="input-wrapper">
                    <img src="{{ '/assets/images/icons/person-black.png'|theme }}" alt="icon">
                    <input type="text" name="name" placeholder="Meno (zobrazí sa v ponuke)" data-validation="required">
                </div>
                <div class="input-wrapper">
                    <img src="{{ '/assets/images/icons/email-black.png'|theme }}" alt="icon">
                    <input type="email" name="email" placeholder="Email" data-validation="required">
                </div>
                <div class="input-wrapper">
                    <img src="{{ '/assets/images/icons/location-black.png'|theme }}" alt="icon">
                    <input type="text" name="leaves_from" placeholder="Odkiaľ vyrážate" data-validation="required">
                </div>
                <div class="input-wrapper">
                    <img src="{{ '/assets/images/icons/clock-black.png'|theme }}" alt="icon">
                    <input type="text" id="time" name="leaves_at" placeholder="Čas odchodu" data-validation="required">
                </div>
                <div class="input-wrapper">
                    <img src="{{ '/assets/images/icons/double-arrows-black.png'|theme }}" alt="icon">
                    <input type="text" name="cities" placeholder="Cez aké mestá prechádzaťe" data-validation="required">
                </div>
                <div class="input-wrapper">
                    <img src="{{ '/assets/images/icons/two-people-black.png'|theme }}" alt="icon">
                    <input type="number" name="seats" placeholder="Počeť voľných miest" data-validation="required">
                </div>

                <div class="checkbox-wrapper">
                    <input type="checkbox" name="gdpr" placeholder="" data-validation="required">
                    <label for="gdrp">Súhlasím so všeobecnými podmienkami</label>
                </div>

                <!-- <h3>Captcha</h3> -->
                <a id="submit-form" class="button button-lg button-secondary">Potvrdiť</a>
            </form>
        </div>
        <div class="form--show-on-submit">
            <div class="wrapper">
                <h2>Odoslané</h2>
            </div>
        </div>
    </div>
