title = "Eventy"
url = "/"
layout = "default"
is_hidden = 0

[events]
==
{% set allEvents = events.getAllEvents() %}
<div class="container-fluid navbar-wrapper">
    <div class="container">
        <a href="https://zivica.sk">
            <img class="back arrow-back-white" src="{{ '/assets/images/icons/back-white.png' |theme}}" alt="Back">
        </a>
    </div>
</div>

<div class="header-container events">
    <div class="container text-wrapper">
        <h1>Šetrite benzín,<br>šetrite životné prostredie</h1>
    </div>
</div>
<div class="container cards-list">
    {% for event in allEvents %}
    <a href="{{ 'event'|page }}/{{ event.id }}">
        <div class=" card--with-square" data-event-id="{{ event.id }}">
            <div class="number-container">
                <h2>{{ event.number_of_drivers }}</h2>
                {% if driver.seats == 0 %}
                <h5>vodičov</h5>
                {% elseif driver.seats == 1 %}
                <h5>vodič</h5>
                {% elseif driver.seats <= 4 %}
                <h5>vodiči</h5>
                {% else %}
                <h5>vodičov</h5>
                {% endif %}
            </div>
            <div class="details">
                <h4>{{ event.name }}</h4>
                <h6>{{ event.location }}</h6>
                <h5>{{ event.date }}</h5>
                <h5>{{ event.time }}</h5>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
