title = "Školenie"
url = "/skolenie/:event_id?"
layout = "default"
is_hidden = 0
[events]
[drivers]
==
{% set eventId = events.getEventId() %}
{% set event = events.getEvent() %}
{% set drivers = drivers.getDrivers %}

<div class="container">
    <div class="text-center">
        <h1>Výber vodiča</h1>
        <h3>Teraz si už iba stačí vybrať vodiča, ktorý Vám vyhovuje najviac</h3>
    </div>
    <div class="cards-list">
        {% if drivers == [] %}
        <h3 style="text-align: center;">Zatiaľ sa neprihlásil žiaden vodič</h3>
        {% else %}
        {% for driver in drivers %}
        <div class="card--with-footer" data-driver-id="{{ driver.id }}">
            <div class="info">
                <h2>{{ driver.name }}</h2>
                <div class="line-wrapper">
                    <img src="{{ '/assets/images/icons/location-black.png'|theme }}" alt="icon" class="location-icon">
                    <h5>{{ driver.leaves_from }}</h5>
                </div>
                <div class="line-wrapper">
                    <img src="{{ '/assets/images/icons/clock-black.png'|theme }}" alt="icon">
                    <h5>{{ driver.leaves_at }}</h5>
                </div>
                <div class="line-wrapper">
                    <img src="{{ '/assets/images/icons/double-arrows-black.png'|theme }}" alt="icon">
                    <h5>{{ driver.cities }}</h5>
                </div>
                <div class="line-wrapper">
                    <img src="{{ '/assets/images/icons/add-people-black.png'|theme }}" alt="icon">
                    <h5>{{ driver.seats }}</h5>
                </div>
            </div>
            <a href="{{ 'skolenie'|page }}/kontaktovat-vodica/{{ driver.id }}">
                <div class="footer">
                    <p>Kontaktovať vodiča</p>
                </div>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
