title = "Eventy"
url = "/"
layout = "default"
is_hidden = 0

[events]
==
{% set allEvents = events.getAllEvents() %}
<div class="container-fluid navbar-wrapper">
    <div class="container">
        <a href="https://centrumzajezova.sk">
            <img class="back arrow-back-black" src="{{ '/assets/images/icons/home-black.png' |theme}}" alt="Back"
                style="transform: scale(0.8);">
        </a>
    </div>
</div>

<div class="header-container events">
    <div class="container text-wrapper">
        <h1>Vitajte</h1>
        <h3>Vyberte si prosím školenie na ktorom sa zúčastníte</h3>
    </div>
</div>
<div class="container cards-list">
    {% for event in allEvents %}
    <a href="{{ 'event'|page }}/{{ event.id }}">
        <div class=" card--with-square" data-event-id="{{ event.id }}">
            {% if event.number_of_drivers < 5 %}
            <div class="number-container color-{{ event.number_of_drivers % 5 }}">
                {% else %}
                <div class="number-container color-5">
                    {% endif %}
                    <h2>{{ event.number_of_drivers }}</h2>
                    {% if event.number_of_drivers  == 0 %}
                    <h5>vodičov</h5>
                    {% elseif event.number_of_drivers  == 1 %}
                    <h5>vodič</h5>
                    {% elseif event.number_of_drivers  <= 4 %}
                    <h5>vodiči</h5>
                    {% else %}
                    <h5>vodičov</h5>
                    {% endif %}
                </div>
                <div class="details">
                    <h4>{{ event.name }}</h4>
                    <h6>{{ event.location }}</h6>
                    <h5>{{ event.date }}</h5>
                    <h5>{{ event.time }}</h5>
                </div>
            </div>
    </a>
    {% endfor %}
</div>
