@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');
@import 'custom-components';
@import 'html-components';
@import 'icons';

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #F5F5F5;
}

.loading-screen {
    height: 100vh;
    width: 100vw;
    background: rgb(195, 198, 78);
    background: linear-gradient(144deg, rgba(195, 198, 78, 1) 0%, rgba(22, 160, 133, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100000;

    img {
        height: 50px;
        width: 50px;
        -webkit-animation: spin 1s infinite linear;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }
}

.header-container {
    min-height: 250px;
    background: rgb(195, 198, 78);
    background: linear-gradient(144deg, rgba(195, 198, 78, 1) 0%, rgba(22, 160, 133, 1) 100%);
    padding: 20px 30px 60px 30px;
}

.header-container-homepage {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #ffffff;
    }
}

.header-container-event {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 20px 30px 100px 30px;

    .text-wrapper {
        width: 100%;
    }
}

.cards-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;

    .single-card {
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(183, 183, 183, 0.36);
        padding: 15px 15px;
        margin-bottom: 20px;
        width: 87%;
        height: 105px;
        display: flex;
        justify-content: start;
        border-radius: 4px;

        .number-container {
            height: 105px;
            width: 105px;
            display: flex;
            align-self: center;
            flex-direction: column;
            justify-content: center;
            background: rgb(244, 208, 63);
            background: linear-gradient(159deg, rgba(244, 208, 63, 1) 0%, rgba(22, 160, 133, 1) 100%);
            border-radius: 4px;
            box-shadow: 0 0 10px rgba(183, 183, 183, 0.36);

            h2,
            h5 {
                text-align: center;
                margin: 0;
                color: #ffffff;
            }

            .details {
                h3 {
                    color: #3b3b3b;
                }
            }
        }
    }
}

.single-card.event-card {
    .details {
        margin-left: 25px;
    }
}

.single-card.driver-card {
    .details {
        margin-left: 10px;

        h4 {
            margin-bottom: 10px;
        }
    }
}
