@font-face {
  font-family: 'Perto';
  src: url("../fonts/Preto-Serif-Regular.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'Perto';
  src: url("../fonts/Preto-Serif-Medium.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Perto';
  src: url("../fonts/Preto-Serif-Bold.otf") format("opentype");
  font-weight: 500;
}

.cards-list {
  margin-top: 70px;
}

.zivica-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  padding: 20px 25px 40px 20px;
  box-shadow: 0px 0px 6px 5px rgba(140, 140, 140, 0.1);
  transition-duration: 200ms;
  background-color: #fcfcfc;
  border-radius: 14px;
}

.zivica-card .pill {
  display: inline-block;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 8px 25px;
  margin-top: 10px;
}

.zivica-card .pill h5 {
  margin: 0;
}

.zivica-card .pill-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  padding: 12px 20px;
  border-top-left-radius: 14px;
}

.zivica-card .pill-wrapper img {
  height: 18px;
}

.zivica-card .pill-wrapper h4 {
  color: white;
  font-weight: 400;
}

.zivica-card .pill-wrapper.footer-pill {
  width: 100%;
  display: block;
  border-radius: 0;
  padding: 15px 20px;
}

.zivica-card .pill-wrapper.footer-pill p {
  margin: 0;
  color: white;
  text-align: center;
}

.zivica-card .footer-pill.footer-pill:hover {
  cursor: pointer;
}

.zivica-card.with-footer-pill {
  padding-bottom: 75px;
}

.zivica-card.color-0 .pill-wrapper {
  background-color: #5c5c5c;
}

.zivica-card.color-1 .pill-wrapper {
  background: #f27d13;
  background: linear-gradient(295deg, #f27d13 60%, #eea968 100%);
}

.zivica-card.color-2 .pill-wrapper {
  background: #f2b913;
  background: linear-gradient(295deg, #f2b913 60%, #fcdc7c 100%);
}

.zivica-card.color-3 .pill-wrapper {
  background: #2ed0dd;
  background: linear-gradient(295deg, #2ed0dd 60%, #9af7ff 100%);
}

.zivica-card.color-4 .pill-wrapper {
  background: #41dfa2;
  background: linear-gradient(295deg, #41dfa2 60%, #99e0c5 100%);
}

.zivica-card.color-5 .pill-wrapper {
  background: #1bcf4d;
  background: linear-gradient(295deg, #1bcf4d 60%, #6de68d 100%);
}

.zivica-card.color-green .pill-wrapper {
  background: #c8cd00;
  background: linear-gradient(295deg, #c8cd00 60%, #ecf012 100%);
}

.zivica-card.color-green .pill-wrapper {
  background: #c8cd00;
  background: linear-gradient(295deg, #c8cd00 90%, #ecf012 100%);
}

.zivica-card.color-0:hover {
  box-shadow: 0px 0px 6px 5px rgba(130, 130, 130, 0.22);
}

.zivica-card.color-1:hover {
  box-shadow: 0px 0px 6px 5px rgba(255, 170, 91, 0.25);
}

.zivica-card.color-2:hover {
  box-shadow: 0px 0px 6px 5px rgba(255, 202, 44, 0.25);
}

.zivica-card.color-3:hover {
  box-shadow: 0px 0px 6px 5px rgba(54, 242, 255, 0.25);
}

.zivica-card.color-4:hover {
  box-shadow: 0px 0px 6px 5px rgba(124, 238, 194, 0.25);
}

.zivica-card.color-5:hover {
  box-shadow: 0px 0px 6px 5px rgba(19, 238, 81, 0.25);
}

.zivica-card.color-green:hover {
  box-shadow: 0px 0px 6px 5px rgba(200, 205, 0, 0.25);
}

@media only screen and (min-width: 992px) {
  .cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .zivica-card {
    width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .zivica-card {
    width: 500px;
  }
}

form {
  margin-top: 50px;
}

form .button-primary {
  margin-top: 50px;
}

form .input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .input-wrapper img {
  height: 21px;
  width: 21px;
}

form .input-wrapper input {
  display: block;
  width: calc(100% - 50px);
  background-color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  margin: 0px 0 1px 0;
  padding: 8px 0;
  border-style: none;
  border-bottom: 1px solid #a0a0a0;
  border-radius: 0px;
}

form .input-wrapper input:focus {
  outline: none;
  border-bottom: 2px solid #1c75e9;
  margin: 0px 0 0px 0;
}

form .input-wrapper input.invalid {
  border-bottom: 2px solid #f52f15;
}

#terms-container {
  display: none;
  height: 100vh;
  width: 100vw !important;
  position: absolute;
  top: 100vh;
  z-index: 1000;
  background-color: white;
}

#terms-container .terms-wrapper {
  height: 40vh;
  max-width: 1140px;
  overflow: scroll;
  margin: 20px auto 0 auto;
  padding: 15px 25px 15px 25px;
}

#terms-container .terms-wrapper h3 {
  color: #2f2f2f;
}

#terms-container .gradient-overlay {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

#terms-container .gradient-overlay:after {
  width: 100%;
  background: linear-gradient(to top, white 10%, rgba(255, 255, 255, 0) 80%);
  position: absolute;
  bottom: -10px;
  height: 100px;
  content: "";
  pointer-events: none;
}

.button-primary {
  display: block;
  width: 285px;
  height: 56px;
  font-size: 17px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  background-color: #c8cd00;
  color: white !important;
  box-shadow: 0px 0px 5px rgba(200, 205, 0, 0.5);
  margin: 25px auto 25px auto;
  border: none;
  border-radius: 81px;
  text-transform: uppercase;
  transition-duration: 300ms;
}

.button-primary:hover {
  background-color: #a4a70a;
  cursor: pointer;
}

.button-primary.disabled {
  opacity: 0.5;
}

* {
  font-family: 'Preto', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding-bottom: 40px;
}

h1 {
  font-size: 31px;
  font-weight: 300;
  margin: 0 0 25px 0;
  color: #2f2f2f;
}

h1 b {
  font-weight: 500;
}

h2 {
  font-size: 21px;
  font-weight: 300;
  margin: 0;
  color: #2f2f2f;
}

h2 b {
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: #6b6b6b;
}

h3 b {
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 300;
  color: #2f2f2f;
  margin: 0;
}

h5 {
  font-size: 16px;
  font-weight: 300;
  color: #2f2f2f;
}

h6 {
  font-size: 14px;
  font-weight: 300;
  color: #6b6b6b;
}

a,
a:hover {
  color: #2f2f2f;
  text-decoration: none;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.green {
  color: #c8cd00;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar img {
  height: 30px;
}

.line-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0;
}

.line-wrapper img {
  height: 18px;
  margin-right: 16px;
}

.line-wrapper h5 {
  margin: 0;
}

.home-screen-logo-wrapper img {
  display: block;
  margin: 30px auto;
  height: 35px;
}

.icon-tooltip {
  position: absolute;
  padding: 8px 15px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: -40px;
  border-radius: 5px;
}

.icon-tooltip p {
  line-height: 15px;
  font-size: 15px;
  margin: 0;
}

#show-trainings {
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {
  #show-trainings {
    margin-top: 60px;
  }
}

#home-screen-heading {
  margin-top: 0px;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}

.home-header .vertical-line {
  width: 1px;
  height: 40px;
  background-color: rgba(24, 24, 24, 0.445);
  margin: 0 20px;
}

.home-header h1 {
  margin-bottom: 0;
}

.home-header.mobile img {
  height: 45px;
}

.home-header.desktop img {
  height: 35px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 700px) {
  .home-header.mobile {
    display: flex;
  }
  .home-header.desktop {
    display: none;
  }
}

.openlab-wrapper {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
}

.openlab-wrapper h5 {
  margin-bottom: 10px;
  text-align: center;
}

.openlab-wrapper img {
  height: 34px;
  display: block;
  margin: auto;
}
