.cards-list {
  margin-top: 70px;
}

@media only screen and (min-width: 992px) {
  .cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card--event {
    width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .card--event {
    width: 500px;
  }
}

.card--with-square {
  display: flex;
  justify-content: start;
  min-height: 125px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(183, 183, 183, 0.36);
  border-radius: 4px;
  z-index: 100;
}

.card--with-square .details {
  margin-left: 25px;
}

.card--with-square .details h4 {
  color: #2f2f2f;
}

.card--with-square .number-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  min-height: 105px;
  min-width: 105px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(183, 183, 183, 0.36);
}

.card--with-square .number-container h2,
.card--with-square .number-container h5 {
  text-align: center;
  margin: 0;
  color: white;
}

.card--with-square .number-container.color-0 {
  background-color: #747474;
}

.card--with-square .number-container.color-1 {
  background-color: #ff7b00;
}

.card--with-square .number-container.color-2 {
  background-color: #f7a222;
}

.card--with-square .number-container.color-3 {
  background-color: #f7c322;
}

.card--with-square .number-container.color-4 {
  background-color: #a9dd19;
}

.card--with-square .number-container.color-5 {
  background-color: #7cb518;
}

.card--with-footer {
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.card--with-footer .info {
  padding: 25px 20px 20px 20px;
}

.card--with-footer .info h2 {
  margin-bottom: 8px;
}

.card--with-footer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #c8cd00;
  transition-duration: 300ms;
}

.card--with-footer .footer img {
  height: 26px;
}

.card--with-footer .footer p {
  margin: 0;
  color: white;
  font-weight: 300;
}

.card--with-footer .footer:hover {
  background-color: #a4a70a;
  cursor: pointer;
}

.card--with-footer .footer.mark-as-unsolved {
  background-color: #f52f15;
}

.card--with-footer .footer.mark-as-unsolved:hover {
  background-color: #db2810;
}
