@import './variables.scss';

.cards-list {
    margin-top: 70px;
}

@media only screen and (min-width: 992px) {
    .cards-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .card--event {
        width: 400px;
    }
}

@media only screen and (min-width: 1200px) {

    .card--event {
        width: 500px;
    }
}

.card--event {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;

    padding: 20px 25px 40px 20px;
    box-shadow: 0px 0px 6px 5px rgba(140, 140, 140, 0.10);

    background-color: rgb(252, 252, 252);
    border-radius: 21px;

    .pill {
        display: inline-block;
        background-color: #f5f5f5;

        border-radius: 20px;
        padding: 8px 25px;
        margin-top: 10px;

        h5 {
            margin: 0;
        }
    }

    .drivers-pill {
        position: absolute;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #3CCF82;
        width: 130px;
        padding: 12px 20px;
        border-top-left-radius: 21px;

        img {
            height: 18px;
        }

        h4 {
            color: $color-white;
            font-weight: 400;
        }
    }

    .drivers-pill.color-0 {
        background-color: rgb(92, 92, 92);
    }

    .drivers-pill.color-1 {
        background: rgb(242, 125, 19);
        background: linear-gradient(295deg, rgba(242, 125, 19, 1) 60%, rgb(238, 169, 104) 100%);
    }

    .drivers-pill.color-2 {
        background: rgb(242, 185, 19);
        background: linear-gradient(295deg, rgba(242, 185, 19, 1) 60%, rgb(252, 220, 124) 100%);
    }

    .drivers-pill.color-3 {
        background: rgb(46, 208, 221);
        background: linear-gradient(295deg, rgba(46, 208, 221, 1) 60%, rgba(154, 247, 255, 1) 100%);
    }

    .drivers-pill.color-4 {
        background: rgb(65, 223, 162);
        background: linear-gradient(295deg, rgba(65, 223, 162, 1) 60%, rgb(153, 224, 197) 100%);

    }

    .drivers-pill.color-5 {
        background: rgb(27, 207, 77);
        background: linear-gradient(295deg, rgba(27, 207, 77, 1) 60%, rgb(109, 230, 141) 100%);
    }
}

.card--with-footer {
    margin-bottom: 40px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

    .info {
        padding: 25px 20px 20px 20px;

        h2 {
            margin-bottom: 8px;
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;

        background-color: $color-primary;
        transition-duration: 300ms;

        img {
            height: 26px;
        }

        p {
            margin: 0;
            color: $color-primary-contrast;
            font-weight: 300;
        }
    }

    .footer:hover {
        background-color: $color-primary-shade;
        cursor: pointer;
    }

    .footer.mark-as-unsolved {
        background-color: $color-red;
    }

    .footer.mark-as-unsolved:hover {
        background-color: $color-red-shade;
    }
}
