form {
  margin-top: 50px;
}

form .button-primary {
  margin-top: 50px;
}

form .input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .input-wrapper img {
  height: 21px;
  width: 21px;
}

form .input-wrapper input {
  display: block;
  width: calc(100% - 50px);
  background-color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  margin: 0px 0 1px 0;
  padding: 8px 0;
  border-style: none;
  border-bottom: 1px solid #a0a0a0;
  border-radius: 0px;
}

form .input-wrapper input:focus {
  outline: none;
  border-bottom: 2px solid #1c75e9;
  margin: 0px 0 0px 0;
}

form .input-wrapper input.invalid {
  border-bottom: 2px solid #f52f15;
}
