$color-primary: rgba(200, 205, 0, 1);
$color-primary-tint: rgb(236, 240, 18);
$color-primary-shade: rgb(164, 167, 10);
$color-primary-contrast: rgba(255, 255, 255, 1);
$color-primary-partialy-transparent: rgba(200, 205, 0, 0.5);

$color-secondary: rgba(100, 120, 0, 1);
$color-secondary-shade: rgb(87, 104, 5);
$color-secondary-contrast: rgba(255, 255, 255, 1);

$color-white: rgba(255, 255, 255, 1);
$color-white-shade: rgba(15, 15, 15, 1);

$color-red: rgb(245, 47, 21);
$color-red-shade: rgb(219, 40, 16);
$color-red-contrast: rgba(0, 0, 0, 1);

$color-blue: rgb(28, 117, 233);

$color-black: rgba(0, 0, 0, 1);
$color-black-tint: rgba(47, 47, 47, 1);
$color-black-light-tint: rgba(107, 107, 107, 1);

$color-grey-light: rgb(160, 160, 160);
